/* header */
#site-logo { margin-top: 0; }
.hgroup-wrap { padding: 0; margin-top: 0; }

/* layout */
html { margin-top: 0!important; }
body, .wrapper { background-color: #76cce1; /* brown #D9DCC3, lblue #D0F2FA;*/ }
.wrapper { margin-top: 25px; }
#main { background-color: #fff; padding: 0 0 15px 0; margin-bottom: 20px; }
#primary { width: 800px; margin-left: 0; }
#secondary { width: 160px; }
.widget { padding: 10px; margin-bottom: 0; }
#content { padding: 15px; }

.mega-menu { -moz-border-radius: 20px 20px 0 0; border-radius: 20px 20px 0 0; -webkit-border-radius: 20px 20px 0 0; }
#main { -moz-border-radius: 0 0 20px 20px; border-radius: 0 0 20px 20px; -webkit-border-radius: 0 0 20px 20px; }

/* content */
#content div.right { float: right; margin: 0 0 15px 15px; padding: 4px; border: 2px ridge #757575; }
#content { line-height: 1.5em; color: #666; font-family: Verdana, Arial, Helvetica, sans-serif; }
#content strong { color: #1874cd; }
#content a:hover { text-decoration: underline; }

p.first-hilite { color: #1874CD!important; font-size: 18px!important; }
p.first-hilite span { font-size: 26px!important; }

.entry-content h2 { font-size: 24px; }
.entry-content p { text-align: justify; }
#content p.center { text-align: center; }
p.first::first-letter { font-size: 15pt; color: #f00; }
p.center { text-align: center; }
p.small { font-size: x-small; text-decoration: italic; }

table.data { border-collapse: collapse; border: 1px solid #ddd!important; }
table.data th, table.data td { padding: 4px; text-align: left; font-family: Verdana, Arial, Helvetica, sans-serif; }
table.data th { background-color: #CFE4FF; font-weight: bold; }
table.data td { background-color: #FFFFF5; }
table.data tr.alt td { background-color: #F2FBFF; }

/* footer */
#colophon .widget-wrap { }
#site-generator {	
	padding: 20px 0px; color: #aaa;
	background-color: #f9f9f9; border-top: 1px solid #eaeaea;
	/*border-top: 1px solid #eaeaea;* color: #999;*/
}
#site-generator a { color: #fdefdb; }
#site-generator .copyright a { color: #777; }
#site-generator .copyright a:hover { color: #05A9C5 }

/* specific pages] */
/* home */
#slideshow { position:relative; height:320px; margin-bottom: 20px; }
#slideshow div{ position:absolute; top:0px; left:0px; right:0px; bottom:0px; }

.partners td { text-align: center; }
.partners a img { margin-top: 25px; }

/* about */
div#social { height: 33px; margin: 0 auto 15px auto; width: 540px; background-color: #C0EAF6;
	border: 1px solid #7169B7; text-align: center; padding: 10px 0 10px 10px;
	-moz-border-radius: 15px; border-radius: 15px; -webkit-border-radius: 15px; }
div#social a { display: block; float: left; margin-right: 15px; }
