.site-header { background-size: contain; 
	background: #4169E1 url(images/lodges/millennium.png) no-repeat center right; }
.site-logo { display: none; }

.site-footer { background-color: #4169E1; } .site-footer, .site-footer a { color: #fff!important; }
.site-footer input[type="submit"] { background-color: #FFD700 }

.site-description { color: #fff; font-style: italic; }

.site-title { display: block; margin-bottom: 15px; font-size: 2.5em!important; }
.site-title a, .site-title a:hover { color: #FFD700!important; letter-spacing: 2px; font-weight: bold; }
.site-title a:hover { text-decoration: underline; }

.main-navigation .main-menu > li a { color: #FFD700; }
.main-navigation .main-menu > li a:hover { color: #CBAB00; }


@media screen and (min-width: 540px) {
	.widget_search .search-submit { display: inline-block; }
}
